Source: integration
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: cmake,
 debhelper (>=9),
 libisautils,
 nvidia-cuda-toolkit,
 libisaopencl,
 libhdf5-dev, 
 astrodata,
 opencl-clhpp-headers,
 opencl-c-headers,
 psrdada
Standards-Version: 3.9.8
Homepage: https://github.com/AA-ALERT/Integration

Package: integration
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Many-core integration algorithm
